.navbar{
    margin-bottom: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: inherit;
}








.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 24px;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
    border-bottom: 2px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;   
}
.nav-bar .nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:34px;
}
.nav-bar .nav-list .nav-item a{
    text-decoration:none;
    color: black;
    font-size: 18px;
}
.nav-bar .nav-list .nav-item a:hover{
    color:blue;
}
.main-section{
    border:2px solid;
    border-color: whitesmoke;
    border-style: groove;
    margin-bottom: 100px;
}

.caregivers{
    background-color:#C71093;
    height: 250px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin: 100px;
}
.caregivers{
    display: flex;
    flex-direction: row;
    border-right: 2px solid white;
    gap: 10px;
    margin-left: 90px;
}
footer{
    display: flex;
    flex-direction: row;
    color:white ;
    background-color: #C71093;
    justify-content: space-evenly;
    
}
.vivan-sec{
    background-color: #052c65;
    color: white;
    height: 500px;
    
}
.vivan-form{
    background-color: #C71093;

}
.vivan-sec .col-3 .list-type{
    list-style-type: none;
}
  
.vivan-sec .col-3 {
    padding-top: 50px;
}
.vivan-sec .col-3  .vivan{
 align-items:initial;
}
.hero-sec span{
    color: #DB12A2;
}
.services-section {
    background: linear-gradient(to right,#dbeeff,#f7fbff);
    padding:60px 20px;
}


.service-card{
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.service-list li{
    margin-bottom: 8px;
    display: flex;
    gap:3px;
    margin-left: 30px;
    justify-content: flex-start;
    align-items: center;
}
.service-list .bi{
    margin-right: 8px;


}


 

.services-section .row h2{
     margin-top: 100px;
}
.hero-sec img{
    border-radius:20px ;
}
.hero-sec .col-12 col-md-6 button{
background-color: #0d6efd;
    margin: 0px 0px 48px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 120px;
    border-color: white;
   
}
.hero-sec .col-6{
    position: relative;
}
.hero-sec .col-6 .image{
    position: absolute;
    left: 100px;
}
.hero-sec{
    margin-bottom: 200px;
}
.hero-sec .row .col-6 p{
    color: gray;
}
.hero-sec .row .col-6 .title{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
} 
.secondsec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: #C71093;
    height: 300px;
    color: white;
    margin-left: 90px;
    margin-bottom: 150px;

}
.secondsec1{
    display: flex;
    flex-direction: row;
    border-right: 2px solid white;
    gap:10px;
    margin-left: 90px;
}
.secondsec2{
    display: flex;
    flex-direction: row;
    border-right: 2px solid white;
    gap:10px;
   
}
.secondsec3{
    display: flex;
    flex-direction: row;
   
}

.about .row .col-6 button{
    background-color: #0d6efd;
    margin: 0px 0px 48px;
    padding:10px;
    border-radius: 10px;
    color: white;
    width: 120px;
    border-color: white;
}
.about .col-6{
    position: relative;
}
.about .col-6 .img-1{
    position: absolute;
    left:100px;
}
.about{
    margin-bottom: 200px;

}
.about .row .col-6 p{
    color: grey;
}
.about .row .col-6 .heading{
    font-size: 40px;
    line-height: 50px;
    font-family: 'jost'sans-serif;
    font-weight: 600;
}
.form-section {
    min-height: 100vh;
    display: flex;
    align-items: center;

}

.form-box {
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-section{
    background-color: #C71093;
}
.services-section{
background-color: #E6F3FC !important;
height: 900px;
margin-bottom: 100px;
}
.services-section .service-card{
    background-color: white;
    border-radius: 20px;
    height: 350px;
    width:350px;
    gap:20px;
}
.star{
margin-bottom: 100px;

}
.star .row .client{
    text-align: center;
}
.star .row .care{
    text-align: center;
}

.form-section .row w-100 .row mb-3 .col-12 .btn-msg{
    background-color: blue;
}
.form-section .row  .col-md-6 .title {
  color: white;
  text-align: left;
}
.form-section .row  .col-md-6 .form-title{
    color: white;

}
.form-section .btn-msg{
    background-color: #0d6efd;
    border-radius: 5px;
    color:white;
    border-color: white;

}
.form-sec a{
    text-decoration: none;
}
.form-sec .list1{
    list-style: none;
    
}
.form-sec .list2{
    list-style: none;
    
}
.form-sec li
{
    border: 2px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    font-size: 14px;
}
.form-sec button{
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
    padding: 12px;
    font-size: 15px;
    width: 100px;
    border-color: white;
}

.form-sec .list1 .card-form{
    box-shadow: inset;
    height: 50px;
}

.form-sec .list2 .card-form{
    box-shadow: inset;
    height: 50px;
}
.form-section  .col-md-6 .form-title{
    font-size: 41px;
}
.form-sec{
    margin-bottom: 100px;
}
.hero-sec .row .col-6 button:hover{
    background-color: #0325e6;
}
.hero-sec .row .col-6 button{
    background-color: #0325e6;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    width: 100px;
    border-color: white;
}
.hero-sec{
    margin-bottom: 250px;
    

}

.about .row .col-6 button:hover{
    background-color: #0325e6;
}
.col-2 button:hover{
background-color:#0325e6;
}
.hero-sec .row .col-6 .title{
font-size: 64px;

}